<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhom10_luongtranthienphuc_lehaitrieu_daotoanthang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom10_LuongTranThienPhuc_LeHaiTrieu_DaoToanThang">
        <activity
            android:name=".ViewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DetailFriendActivity"
            android:exported="true" />
        <activity
            android:name=".SearchFriendActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>